$width: 940px;
$font: sans-serif;

$link-color: #286790;

#disqus-comments {
  margin-top: 30px;
  h1 {
    border-bottom: 2px solid #aaaaaa;
    color: #888888;
    font-size: 1.4em;
  }
  a {
    color: $link-color;
  }
}

.blogo-article {
  font-family: $font;
  .posted {
    font-size: 1em;
    padding: 4px 0px;
    color: #888888 {
      color: white;
    };
  }
  h1, h2, h3, h4, h5 {
    color: #444444;
  }
  h2, h3, h4, h5 {
    margin-bottom: 0.25em;
  }
  h1 {
    font-size: 2em;
    line-height: 1.2em;
    a {
      text-decoration: none;
      color: #444444;
    }
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  p {
    color: #444444;
    text-align: justify;
    margin-bottom: 1.5em;
    font-size: 1em;
    line-height: 1.5em;
    a {
      color: $link-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul {
    li {
      font-size: 1em;
      line-height: 1.5em;
      a {
        color: $link-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  img {
    border-radius: 0.3em;
  }
}

.blogo-recent-posts li {
  margin-bottom: 12px;
}

.paginator {
  text-align: center;
}

.button-secondary, .button-warning, .button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-secondary {
  background: rgb(66, 184, 221);
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-success {
  background: rgb(28, 184, 65);
}

// Social sharing
.social {
  // This gets Google to fall into place
  font-size: 1px;
  margin: 15px 10px;
  // This gets Facebook to fall into place
  iframe {
    vertical-align: middle;
  }
  // Set an optional width for your button wrappers
  span {
    display: inline-block;
    width: 110px;
  }
  //Adjust the widths individually if you like
  .google {
    width: 75px;
  }
  //This gets Facebook to fall into place
  .fb-share-button {
    vertical-align: middle;
  }
  // Set an optional width for your button wrappers
  span {
    display: inline-block;
    width: 110px;
  }
  // Adjust the widths individually if you like
  .google {
    width: 75px;
  }
}

a.powered-by {
  display: block;
  color: $link-color;
  text-decoration: none;
  text-align: right;
  font-size: 0.8em;
  &:hover {
    text-decoration: underline;
  }
}

/* Overwrites to pure-paginator */
.pure-paginator {
  a.pure-button {
    height: 42px !important;
  }
}
