.HeroHeader {
  background-color: $dark-primary-color;
  height: rem-calc(400);
  text-align: center;
  padding: rem-calc(50) rem-calc(30);
  color: $white;

  &-image {
    border-radius: 50%;
    height: rem-calc(160);
  }

  h4 {
    color: $white;
    &::after {
      content: '';
      display: block;
      background: white;
      height: 1px;
      width: 7%;
      margin: 0 auto;
    }
  }

}
