.HeroHeader {
  background-color: $dark-primary-color;
  height: rem-calc(380);
  text-align: center;
  padding: rem-calc(50) rem-calc(30);
  color: $white;

  &-image {
    border-radius: 50%;
    height: rem-calc(160);
  }

  h4 {
    color: $white;
    &::after {
      content: '';
      display: block;
      background: white;
      height: 1px;
      width: 7%;
      margin: 0 auto;
    }
  }

  li {
    list-style: none;
    display: inline-block;
    margin-top: rem-calc(20);

    a {
      display: inline-block;
      color: $white;
      text-decoration: none;
      font-size: rem-calc(40);
      width: rem-calc(250);
      margin-right: rem-calc(5);

      &:hover {
        background: $primary-color;
      }
    }
  }
}
