 .Icon {
    display: inline-block;
    width: rem-calc(48);
    height: rem-calc(48);
  &-rss {
    background-image: image-url("blogo/rss-icon.png");
    &:hover {
      background-image: image-url("blogo/rss-icon-active.png");
    }
  }

  &-twitter {
    background-image: image-url("blogo/twitter-icon.png");
    &:hover {
      background-image: image-url("blogo/twitter-icon-active.png");
    }
  }

  &-github {
    background-image: image-url("blogo/github-icon.png");
    &:hover {
      background-image: image-url("blogo/github-icon-active.png");
    }
  }
}
